body {
	background-color: rgb(208, 249, 241);
}
h1 {
    color: rgb(1, 71, 1);
    font-size: 1.8em;
    font-weight: bolder; 
    text-shadow: 1px 1px 1px rgb(1, 71, 1), 2px 2px 1px rgb(1, 71, 1);

  }

h2 {
    color: rgb(1, 71, 1);
    font-size: 1.3em;
    font-weight: bolder; 
    margin-left: 2em;
  }

h3 {
    color: rgb(1, 71, 1);
    font-size: 1.2em;
    font-weight: bold; 
    margin-left: 4em;
  }
  
li {
    color: rgb(1, 71, 1);
    font-size: 1.1em;
    font-weight:normal;
    margin-left: 6em; 
  }

  li li {
    margin-left: 1em;  
  }
  
